
    <section class="services">
        <div class="container">
            <h2 class="title">Our Services</h2>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa semper aliquam quis mattis quam.</p>
            <div class="services-grid">
                <div class="service-item">
                    <div class="icon">⚽</div>
                    <h3>Restaurant & Bar</h3>
                    <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater.</p>
                </div>
                <div class="service-item">
                    <div class="icon">▶</div>
                    <h3>Luxurious Rooms</h3>
                    <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater.</p>
                </div>
                <div class="service-item">
                    <div class="icon">💾</div>
                    <h3>Banquet</h3>
                    <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                </div>
                <div class="service-item">
                    <div class="icon">📶</div>
                    <h3>Wi-Fi Internet</h3>
                    <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                </div>
                <div class="service-item">
                    <div class="icon">📧</div>
                    <h3>24/7 Service</h3>
                    <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                </div>
                <div class="service-item">
                    <div class="icon">⭕</div>
                    <h3>Room Service</h3>
                    <p>Morbi vitae tortor tempus, placerat leo et, suscipit lectus. Phasellus ut euismod massa, eu eleifend ipsum.</p>
                </div>
            </div>
        </div>
    </section>


