<div class="container">
  <div class="card login">
    <h2>User Registration</h2>
    <form [formGroup]="userRegister" (ngSubmit)="onSubmit()" class="booking-form">
      <input type="text" id="name" name="name" formControlName="name"class="form-input" placeholder="Name(Ex:Edith Stark)" required>
                <div *ngIf="userRegister.get('name')?.invalid && userRegister.get('name')?.touched">
                    <small class="text-danger">Name is required.</small>
                </div>

      <!-- <input type="number" placeholder="Age(Ex: 21)" [(ngModel)]="age" name="age" id="age" class="form-input" required>
      <div *ngIf="userForm.controls['age'].touched && userForm.controls['age'].invalid">
        <small *ngIf="userForm.controls['age'].errors?.['required']"><span>Age is required</span></small>
      </div> -->

      <input type="number" id="age" name="age" formControlName="age" placeholder="Age(Ex: 21)" class="form-input" required>
                <div *ngIf="userRegister.get('age')?.invalid && userRegister.get('age')?.touched">
                    <small class="text-danger">Age is required.</small>
                </div>

      <!-- <input type="text" placeholder="Address" [(ngModel)]="address" name="address" id="address" class="form-input" required>
      <div *ngIf="userForm.controls['address'].touched && userForm.controls['address'].invalid">
        <small *ngIf="userForm.controls['address'].errors?.['required']"><span>Address is required</span></small>
      </div> -->

      <input type="text" id="address" name="address" formControlName="address" placeholder="Address" class="form-input" required>
                <div *ngIf="userRegister.get('address')?.invalid && userRegister.get('address')?.touched">
                    <small class="text-danger">Address is required.</small>
                </div>

      <!-- <input type="email" placeholder="Email" [(ngModel)]="email" name="email" id="email" class="form-input" required email>
      <div *ngIf="userForm.controls['email'].touched && userForm.controls['email'].invalid">
        <small *ngIf="userForm.controls['email'].errors?.['required']">Email is required</small>
        <small *ngIf="userForm.controls['email'].errors?.['email']"><span>Invalid email address</span></small>
      </div> -->

      <input type="email" id="email" name="email" formControlName="email" class="form-input" placeholder="Email(Ex:xyz@pqr.com)" required>
                <div *ngIf="userRegister.get('email')?.invalid && userRegister.get('email')?.touched">
                    <small class="text-danger">Email is required.</small>
                </div>

      <!-- <input type="number" placeholder="Mobile Number" [(ngModel)]="mobileNo" name="mobileNo" id="mobileNo" class="form-input" required>
        <div *ngIf="userForm.controls['mobileNo'].touched && userForm.controls['mobileNo'].invalid">
          <small *ngIf="userForm.controls['mobileNo'].errors?.['required']"><span>Mobile No is required</span></small>
        </div> -->

        <input type="number" id="phone" name="phone" formControlName="phone" class="form-input" placeholder="Mobile Number(Ex: 9876543210)" required>
                <div *ngIf="userRegister.get('phone')?.invalid && userRegister.get('phone')?.touched">
                    <small class="text-danger">Mobile Number is required.</small>
                </div>
      
        <!-- <input type="password" placeholder="Password" [(ngModel)]="confirmpassword" name="password" id="password" class="form-input" required>
        <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].invalid">
          <small *ngIf="userForm.controls['password'].errors?.['required']"><span>Password is required</span></small>
        </div> -->

        <input type="password" id="password" name="password" formControlName="password" class="form-input" placeholder="Password:(Ex: XyzPqr@123)" required>
                <div *ngIf="userRegister.get('password')?.invalid && userRegister.get('password')?.touched">
                    <small class="text-danger">Password is required.</small>
                </div>

        <!-- <input type="password" placeholder="Confirm Password" [(ngModel)]="password" name="password" id="password" class="form-input" required>
        <div *ngIf="userForm.controls['password'].touched && userForm.controls['password'].invalid">
          <small *ngIf="userForm.controls['password'].errors?.['required']"><span>Confirm Password is required</span></small>
        </div> -->

        <input type="password" id="confirmpassword" name="confirmpassword" formControlName="confirmpassword" class="form-input" placeholder="Confirm Password(same as password)" required>
                <div *ngIf="userRegister.get('confirmpassword')?.invalid && userRegister.get('confirmpassword')?.touched">
                    <small class="text-danger">Confirm Password is required.</small>
                </div>
      <button type="submit" class="btn-submit" [disabled]="userRegister.invalid">Submit</button>
    </form>
  </div>
</div>